header.p-3.text-white
  .container
    .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
      a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none[href="/"]
        svg.bi.me-2[width="40" height="32" role="img" aria-label="Bootstrap"]
          use[xlink:href="#bootstrap"]
      ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
        li
          = link_to t(:home), root_path, class:"nav-link px-2 text-secondary"
        li
          = link_to t(:posts),  posts_path, class:"nav-link px-2 text-secondary"
        li
          = link_to t(:new_post), new_post_path, class:"nav-link px-2 text-secondary"
        li
          = link_to t(:Admin_panel), admin_path, class:"nav-link px-2 text-secondary" if current_user && current_user.admin?
      ul.navbar-nav
        = render "search/form"
      .text-end
        - if user_signed_in?
          = link_to t(:log_out), destroy_user_session_path, method: :delete, class:"btn btn-warning"
          = link_to t(:profile), user_profile_path(current_user), class:"btn btn-warning", style:"margin-left:5px;"
        - else
          = link_to t(:sign_in), user_session_path, class:"btn btn-warning"
          = link_to t(:sign_up), new_user_registration_path, class:"btn btn-warning", style:"margin-left:5px;"
        = link_to(locale: :ka) do
          img.c-icon.ms-3.mt-2[width="30" alt="geoflag" src="https://cdn.countryflags.com/thumbs/georgia/flag-400.png"]
        = link_to(locale: :en) do
          img.c-icon.ms-3.mt-2[width="30" height="21" alt="enflag" src="https://cdn.countryflags.com/thumbs/united-kingdom/flag-400.png"]