<% if user_signed_in? %>
  <div class="form-outline mb-4">
    <%= form_with model: comment, url: post_comment_path(post, comment) do |form| %>
        <p>
          <% form.label t(:desciption)%><br>
          <%= form.text_area :body, class: "form-control", placeholder: "new comment" %>
        </p>
        <p>
          <%= form.submit t(:update), class: "btn btn-warning" %>
        </p>
    <% end %>
  </div>
<% end %>