h1.text-center
  = pluralize(@post.count, "Result")
table.table.table-bordered
  thead
    tr
      th[scope="col"]
        = sort_link(@query, :title, "Title")
      th[scope="col"]
        = sort_link(@query, :body, "Content")
      th[scope="col"]
        = sort_link(@query, :user_email, "Users")
      th[scope="col"]
        = sort_link(@query, :likes, "Likes")
  tbody
    - @post.each do |post|
      tr
        td
          = link_to post.title, post
        td
          = post.body.truncate_words(25)
        td
          = link_to post.user.email, user_profile_path(post.user)
        td
          = post.likes.count